{% extends 'base.html' %}

{% block content %}
  <h1>User Management</h1>
  <a href="{{ url_for('user_management.add_user') }}" class="btn btn-primary">Add User</a>
  <a href="{{ url_for('main_window.main') }}" class="btn btn-primary">返回主界面</a>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>Username</th>
        <th>Gender</th>
        <th>Position</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ user.position }}</td>
          <td>{{ user.is_admin }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
